<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="msg">
    {{ message }}
</div>
<script>
    var app = new Vue({
        el: '#msg',
        data: {
            message: '一律字典'
        }
    })
</script>

<div id="app2">
    <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
</div>
<script>
    var app2 = new Vue({
        el: '#app2',
        data: {
            message: '加载于' + new Date().toLocaleString()
        }
    })
</script>

<div id="app3">
    <ol>
        <li v-for="todo in todolist">
            {{todo.txt}}
        </li>
    </ol>
</div>
<script>
    var app3 = new Vue({
        el:'#app3',
        data:{
            todolist:[
                {txt:'todo1'},
                {txt:'todo2'},
                {txt:'todo3'}
            ]
        }
    })
</script>

<div id="app4">
    <span v-if="seen">Now you see me ,soon you won't.</span>
</div>
<script>
    var app4 = new Vue({
        el:'#app4',
        data:{
            seen:true
        }
    })
</script>

<div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">reverse</button>
</div>
<script>
var app5 = new Vue({
  el: '#app5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})
</script>

<div id="app6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>
<script>
    var app6 = new Vue({
        el:"#app6",
        data:{
            message:'aloha'
        }
    })
</script>

<div id="app7">
    <ol>
        <todo-item
                v-for="todo_item in todo_items"
                v-bind:todo="todo_item"
                v-bind:key="todo_item.id">

        </todo-item>
    </ol>
</div>

<script>
        Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.text}}</li>'
    });

    var app7 = new Vue({
        el:'#app7',
        data:{
            todo_items:[
                {id:0,text:'学python'},
                {id:1,text:'学Django'},
                {id:2,text:'学JS'}
            ]
        }
    })
</script>

<div id="app8">
    <p>{{obj.id}}</p>
    <button @click=" obj.id='12345' ">会变化吗？</button>
</div>
<script>
    var obj={
        id:'00001'
    }
//    Object.freeze(obj)
    new Vue({
        el:'#app8',
        data(){
            return{
                obj
            }
        }
    })
</script>

<!--计算属性-->
<div id="example">
    <p>原字符串：{{mmessage}}</p>
    <p>计算属性：{{reversed_message}}</p>
</div>
<script>
    var app = new Vue({
        el:'#example',
        data:{
            mmessage:'pouring rain'
        },
        computed:{
            reversed_message:function () {
                return this.mmessage.split('').reverse().join('')
            }
        }
    })
</script>
</body>
</html>