<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <col style="align:center;">
<col style="align:center;">
        <caption>查询结果</caption>
        <thead>
           <tr>
            <th>书号</th>
            <th>书名</th>
        </tr>
        </thead>

        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
        </tr>

    </table>
</body>
</html>